body {
  background-color: black;
  font-family: monospace;
  color: #00ff00;
  padding: 8px;
  line-height: 2rem;
}

#cursor {
  margin-left: -8px;
  animation: color 1s cubic-bezier(0, -100, 1, 100);
  animation-iteration-count: infinite;
}

@keyframes color {
  from {color: inherit;}
  to {color: black}
}   
